<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database Exploration By Relative Image Similarity</title>
</head>
<body>
    <h3>The Database Exploration By Relative Image Similarity (DEBRIS)</h3>
    This application provides the means to explore a database of images by visual search.

<p>

    <div>
        <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <label for="database">Choose a database to search</label>
            <select name="database" id="database">
                <option value="MNIST_fashion">MNIST fashion</option>
                <option value="default">Custom (upload)</option>
            </select>

            <button type="submit">Submit</button>
            <h5 style="color:red">{{error_message}}</h5>
        </form>
        Allowed file types: JPEG, PNG, BMP, TIFF
    </div>

</body>
</html>