<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Your Image Query</title>
</head>
<body>

    <h3>Please upload an image to search with</h3>

    <form action="{% url 'result' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="database" value="{{ database }}">
        <input type="file" name="image" id="image">
        <button type="submit">Submit</button>
    </form>

    <p>
    Allowed file types: JPEG, PNG, BMP, TIFF

    <p>
    {% if error_message %}
        <h5 style="color:red">{{error_message}}</h5>
    {% endif %}
    {% if som %}
        {{ som }}
    {% endif %}

    <p>
    <li><a href="{% url 'index' %}">Return to index page</a></li>

</body>
</html>